<footer>
    <div class="container clearfix">

        <div class="col">
            <h4 class="text-uppercase">
                Location
            </h4>
            <p>2215 John Daniel Drive
                Clark, MO 65243</p>
        </div>

        <div class="col">
            <h4 class="text-uppercase">
                Around the Web
            </h4>
            <ul>
                <li>
                    <button class="btn btn-outline btn-social">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                </li>
                <li>
                    <button class="btn btn-outline btn-social">
                        <i class="fab fa-twitter"></i>
                    </button>
                </li>
                <li>
                    <button class="btn btn-outline btn-social">
                        <i class="fab fa-linkedin-in"></i>
                    </button>
                </li>
                <li>
                    <button class="btn btn-outline btn-social">
                        <i class="fab fa-dribbble"></i>
                    </button>
                </li>
            </ul>
        </div>

        <div class="col">
            <h4 class="text-uppercase">
                About Dieticians and Personal Trainers
            </h4>
            <p>We are ready to serve our users with our dieticians and sports instructors who are experts in their fields.</p>
        </div>

    </div>
</footer>

<div class="copyright">
    <div class="container">
        <small>Copyright © Your Website 2021</small>
    </div>
</div>