* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 6px;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Montserrat;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.btn-large {
    font-size: 2rem;
    padding: 2.2rem 1.6rem;

}

.btn {
    margin-top: 2rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .5s;
}

.btn-social {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
}

.btn-menu {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    font-size: 10px;
    background-color: #1ABC9B;
    color: #fff;
    border: none;
}

.btn-outline {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.btn-outline:hover {
    color: #212529;
    background-color: #fff;
}

.btn-primary {
    background-color: #1ABC9B;
    border-color: #1ABC9B;
    padding: 1.2rem 1rem;
    color: #fff;
}

.btn-primary:hover {
    background-color: #128f76;
    border-color: #128f76;
}

.img-fluid {
    max-width: 256px;
    height: auto;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.col {
    float: left;
    width: 100%;
    padding: 1rem;

}

@media (min-width: 576px) {
    
    .container {
        max-width: 540px;
    }

    html {
        font-size: 7px;
    }

}

@media (min-width: 768px) {

    .container {
        max-width: 720px;
    } 
    
    html {
        font-size: 8px;
    }

    .col {
        width: 50%;
    }
    
}

@media (min-width: 992px) {
    
    .container {
        max-width: 960px;
    }

    html {
        font-size: 9px;
    }

    .col {
        width: 33.333%;
    }

}

@media (min-width: 1200px) {

    .container {
        max-width: 1140px;
    }
    
    html {
        font-size: 10px;
    }
}



.text-uppercase {
    text-transform: uppercase;
}

/* Navbar*/

nav {
    width: 100%;   
    font-family: Montserrat;
    background-color: #2C3E4F;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: 0.2rem;
    padding-right: 50px;
}

.logo-foto {
    float: left; 
    padding-top: 0.2rem;
    padding-right: 1rem;
}



#logo-box .logo {
    color: #fff;
    font-weight: 1000;
    font-size: 3rem;
}

#nav-links {
    float: right;
}
#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;

}


#nav-links .nav-link:hover {
    color: #1ABC9B;
}

#nav-links .nav-icon {
    display: none;
}

@media (max-width: 992px) {

    #logo-box {
        float: none;
        text-align: left;
    }

    #nav-links {
        float: none;
    }

    #nav-links .nav-link {
        font-size: 2rem;
        padding-left: 0;
    }

    #nav-links .nav-item {
        float: none;
        text-align: left;
    }

    #nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 3rem;
    }

    #nav-links.responsive li:not(:first-child){
        display: none;
    }
}

/* Header */

header {
    
    background-color: #1ABC9B;
    height: 1500px;
    padding-top: calc(106px + 7rem);
    text-align: center;
}








/* Footer */

footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #2C3E4F;
    color: #fff;
    text-align: center;
}

footer h4 {
    font-size: 2.4rem;
}

footer p {
    font-size: 2rem;
    margin-top: 1rem;
}

footer li {
    display: inline-block;
    margin-right: 1rem;
}

.copyright {
    background-color: #19262F;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    color: #fff;
    text-align: center;
}

/* table */

header .imgtable{
    width: 300px;
    margin-left:10px;
}

header .part{
    background-color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 55px;
    margin-bottom: 50px;
    text-align: center;
}

header .col-md-6{
    background-color:white;
    margin-bottom: 40px;
}

header h1{
    text-align:center;
    margin-bottom:50px;
    margin-top:50px;
  }
 header a {
    font-family: Roboto;
   }
  .blog-card-blog {
      margin-top: 30px;
  }
  .blog-card {
      display: inline-block;
      position: relative;
      width: 500px;
      margin-bottom: 30px;
      border-radius: 6px;
      color: rgba(0, 0, 0, 0.87);
      background: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .blog-card .blog-card-image {
      height: 60%;
      position: relative;
      overflow: hidden;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: -30px;
      border-radius: 6px;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .blog-card .blog-card-image img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      pointer-events: none;
  }
  .blog-card .blog-table {
      padding: 15px 30px;
  }
  .blog-table {
      margin-bottom: 0px;
  }
  .blog-category {
      position: relative;
      line-height: 0;
      margin: 15px 0;
  }
  .blog-text-success {
      color: #28a745!important;
  }
  .blog-card-blog .blog-card-caption {
      margin-top: 5px;
  }
  .blog-card-caption {
      font-weight: 700;
      font-family: "Roboto Slab", "Times New Roman", serif;
  }
 
  .blog-card-caption, .blog-card-caption a {
      color: #333;
      text-decoration: none;
  }
  header .blog-card-image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    
    
  }

  header .col-md-4{
    float:left;
  }
  header .col-md-4-1{
    float:right;
  }
  .col-md-4-1 .blog-card-image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    
  }


  header p {
      color: #3C4857;
  }
 

 