<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Freelancer - Start Bootstrap Template</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/admin.css">
   
</head>


<body>

    <%- include("partials/nav") %>




        <header>
            <a href="/admin/cart_product">Cart Product</a>
            <a href="/admin/online_diet">Online Diet</a>
            <a href="/admin/online_sport">Online Sport</a>
            <a href="/admin/order_details">Order Details</a>
            <a href="/admin/product">Product</a>
            <a href="/admin/response_diet">Response Diet</a>
            <a href="/admin/response_sport">Response Sport</a>
            <a href="/admin/login">Login-Details</a>
            <a href="/admin/users">Users</a>


            <table>
                    <% if (table.length >0) { %>
                        <% for( let j = 0; j< column.length; j++ ) { %>
                            <tr>
                                <td><%= column [j] %> </td>
                                
                                <% for( let i = 0; i < table.length; i++ ) { %>
                                    
                                    <% if (column[j] ==Object.keys(table[i])[j] ) { %>
                                        
                                        <td><%= Object.values(table[i])[j] %> </td>
                                    <% } %>
                                
                                    
                                <% } %>
                            </tr>
    
                        <% } %>
                     
                    <% } %>
     
            </table>

          
           

           

            <form method="post">

                <div class="form">
                    <textarea class="form-control" id="textarea" rows="4" name="textarea"></textarea>
                  
                    <input type="submit" name="submit" value="DELETE">
                    <input type="submit" name="submit" value="INSERT">
                    <input type="submit" name="submit" value="UPDATE">
                  
               
                </div>
            </form>

            
            

        </header>

        



        <%- include("partials/footer") %>

</body>

</html>