<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Freelancer - Start Bootstrap Template</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/diet_programs.css">
    
</head>


<body>

    <%- include("partials/nav")  %> 

    <header>
        <h1>Diet Programs</h1>
        <div class="container">
        <div class="row">
                <div class="col-md-4">
            <div class="blog-card blog-card-blog">
                <div class="blog-table">
                    <div class="blog-card-image">
                        <img class="img" src="/images/vegmealplan.jpg"> 
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="infos">
                        <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> Diet Program</h6>
                        <h3 class="blog-card-caption">
                            Vegan Meal Plan
                        </h3>
                        <div class="info1">
                            <h4>Breakfast</h4>
                            <ul>
                                <li>2 slices wheat toast</li>
                                <li>2 tablespoons almond butter</li>
                                <li>1 tablespoon hemp seeds</li>
                            </ul>
                            <h4>Lunch</h4>
                            <ul>
                                <li>1 whole wheat pita</li><li>1/2 cup hummus</li><li>2 slices tomato</li><li>2 lettuce leaves</li><li>2 slices red onion</li>
                            </ul>
                            <h4>Dinner</h4>
                            <ul>
                                <li>1/2 cup cooked quinoa</li><li>1/4 cup garbanzo beans</li><li>1/4 cup diced tomato</li><li>1/4 cup diced red onion</li><li>1 cup baby spinach leaves</li><li>1 teaspoon olive oil</li><li>1 tablespoon lemon juice</li><li>1 tablespoon hemp seeds</li>

                            </ul>
                        </div>
                        <p class="blog-card-description">Consult your doctor before use the program.</p>
                        <div class="ftr">
                            <div class="stats"> <i class="far fa-clock"></i> 30 sec </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
            
            <div class="col-md-4-1">
                <div class="blog-card blog-card-blog">
                    <div class="blog-table">
                        <div class="blog-card-image">
                            <img class="img" src="/images/gain.jpg"> 
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="infos">
                            <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> Diet Program</h6>
                            <h3 class="blog-card-caption">
                                Weight Gain Diet Program
                            </h3>
                            <div class="info1">
                                <h4>Breakfast</h4>
                                <ul>
                                    <li>1 slice wheat bread</li><li>2 tablespoons peanut butter</li><li>1 tablespoon hemp seeds</li><li>1/2 banana, sliced</li>
                                </ul>
                                <h4>Lunch</h4>
                                <ul>
                                    <li>3/4 cup cooked quinoa</li><li>1/4 cup shelled edamame</li><li>2 cups spring mix lettuce</li><li>1 teaspoon olive oil</li><li>1 tablespoon balsamic vinegar</li><li>1/2 medium red bell pepper, chopped</li><li>1 green onion, finely chopped</li>
  
                                </ul>
                                <h4>Dinner</h4>
                                <ul>
                                    <li>1 cup cooked whole wheat noodles</li><li>1 tablespoon vegan pesto</li><li>1/4 cup peas</li>
                                </ul>
                            </div>
                            <p class="blog-card-description">Consult your doctor before use the program.</p>
                            <div class="ftr">
                                <div class="stats"> <i class="far fa-clock"></i> 30 sec </div>
                            </div>
                        </div>
        </div>
            
            
    </header>

    

    <%- include("partials/footer")  %> 

    



</body>

</html>