<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Freelancer - Start Bootstrap Template</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/recipes.css">
</head>


<body>

    <%- include("partials/nav")  %> 

    <header>
        <h2 style="color: white; margin-bottom: 30px;">EASY RECIPES</h2>
        <div class="blog">
  
            <div class="title-box">
              <h3>
              Fresh Bean
              </h3>
              <hr/>
              <div class="intro">
                Ingredients for Fresh Bean Dish Recipe
              </div>
            </div>  
            <div class="info">
                <lu>
                    <li>
                        600g green beans
                    </li>
                    <li>2 tomatoes</li><li>1 onion</li><li>Half a teaspoon of paprika</li><li>Half a teaspoon of black pepper</li><li>2 teaspoons of salt</li><li>Half a cup of olive oil (or vegetable oil)</li><li>1.5 tablespoons of tomato paste</li><li>2 cups of hot water</li>                    
                </lu>
            </div>
          <div class="footer">
            <div class="icon-holder">
              <span>
            <i class="fa fa-comment-o"></i>
              <span>12</span>
              <space></space>
              <i class="fa fa-calendar"></i>
              <span>03.12.2015</span>
              </span>
            </div>
          </div>
          
         <div class="color-overlay"></div>
        </div>

        <div class="blog2">
  
            <div class="title-box">
              <h3>
                Potato Dish
              </h3>
              <hr/>
              <div class="intro">
                Ingredients for Potato Dish Recipe
              </div>
            </div>  
            <div class="info">
                <lu>
                    <li>3 potatoes</li><li>1 onion</li><li>2 tablespoons of chili paste</li><li>3 tablespoons of oil</li><li>1 teaspoon of red pepper flakes (optional)</li><li>1 teaspoon salt</li><li>Hot water</li>
                </lu>
            </div>
          <div class="footer">
            <div class="icon-holder">
              <span>
            <i class="fa fa-comment-o"></i>
              <span>12</span>
              <space></space>
              <i class="fa fa-calendar"></i>
              <span>03.12.2015</span>
              </span>
            </div>
          </div>
          
         <div class="color-overlay"></div>
        </div>

        <div class="blog3">
  
            <div class="title-box">
              <h3>
                Peas Recipe
              </h3>
              <hr/>
              <div class="intro">
                Ingredients for Potatoes, Carrots, Peas Recipe
              </div>
            </div>  
            <div class="info">
                <lu>
                    <li>2 large potatoes</li><li>1 large carrot</li><li>1 kilogram of peeled peas</li><li>2 small onions</li><li>1 tablespoon of tomato paste</li><li>2.5 teaspoons of salt</li><li>2 teaspoons of paprika</li><li>2.5 cups of hot water</li><li>Little oil</li>
                </lu>
            </div>
          <div class="footer">
            <div class="icon-holder">
              <span>
            <i class="fa fa-comment-o"></i>
              <span>12</span>
              <space></space>
              <i class="fa fa-calendar"></i>
              <span>03.12.2015</span>
              </span>
            </div>
          </div>
          
         <div class="color-overlay"></div>
        </div>
        


    </header>

    


    <%- include("partials/footer")  %> 



</body>

</html>